<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Font Awesome -->
      <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="dist/css/adminlte.min.css">
      <!-- Google Font: Source Sans Pro -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
      
    </head>




<body>
    <h1><a href ="/" class = "c2" >Home Page</a></h1>
    
    <div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			
			<section class="content-header">
				<h1>Add of a new Product</h1>
			</section>
			
			<section class="content">
				<div class="card">
                    <div class="card-header">
                        
                        <div class="card-body table-responsive p-0" style="height: 400px;">
                            <form action="/AddData" method="POST">
                                <label>Product ID: </label>
                                <input type="number" placeholder="Enter product ID" name="pid"><br>
                        
                                <label>Product Category: </label>&nbsp;
                                <input type="text" placeholder="Enter category" name="category"><br>
                        
                                <label>Type of the product: </label>&nbsp;
                                <input type="text" placeholder="Enter type" name="type"><br>
                        
                                <label>Size: </label>
                                <input type="number" placeholder="Enter size" name="size"><br>
                        
                                <label>Stock: </label>&nbsp;
                                <input type="number" placeholder="Enter quantity" name="stock"><br>
                        
                                <label>Cost Price: </label>&nbsp;
                                <input type="number" placeholder="Enter CP" name="CP"><br>
                        
                                <label>Selling Price: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="number" placeholder="Enter SP" name="SP"><br>
                        
                                <button type = "submit">Submit</button>
                            </form>
                            
                        
                            </div>
                      
                
                    </div>
                </div>

			</section>
		</div>
		
	</div>
    
    
</body>
</html>